<style>
  @font-face {
    font-family: Monument;
    src: url(assets/font/MonumentExtended-Regular.otf) format("opentype");
  }

  * {
    font-family: 'Monument', 'arial', sans-serif;

  }

  @media screen and (min-width: 725px) {
    h1 {
      font-size: 450%;
    }
  }

  @media screen and (min-width: 601px) {
    h1 {
      font-size: 300%;
    }
    
  }
  
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 300%;
    }
  }

  @media screen and (max-width: 482px) {
    h1 {
      font-size: 200%;
    }
  }

  @media screen and (max-width: 320px) {
    h1 {
      font-size: 170%;
    }
  }

</style>



<body>

  <div>
    <a href="https://twitter.com/WeAreRobotX" target="_blank" title="Follow RobotX on Twitter">
      <img src="/assets/logo.png" alt="" style="border-radius: 50%; width : 2%; min-width : 70px; border: 1px white;">
    </a>

    <h1
      style="margin-top: 75px; align-items: center; color: white; display: flex; height: 80%; justify-content: center; position: absolute; width: 100%; left: 0; top: 0; z-index: 1;">
      Coming Soon...</h1>

  </div>

</body>